body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  #counter {
    box-shadow: 5px 5px 5px black;
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #counter {
    font-size: 60px;
  }
  
  #incrementBtn{
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    transition: all 2s;
    display: flex;
    display: inline-block;
    margin-right: 20px;
  }
  
  #incrementBtn:hover {
    color: white;
    background-color: #c2c2c2;
  }
  
  #incrementBtn:active {
    transform: scale(0.95);
  }
  #decrementBtn{
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    transition: all 2s;
    display: flex;
    display: inline-block;
    margin-right: 20px;
    
  }
  
  #decrementBtn:hover {
    color: white;
    background-color:#c2c2c2;
  }
  
  #decrementBtn:active {
    transform: scale(0.95);
  }
  #resetBtn{
    color: white;
    background-color: black;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    transition: all 2s;
    display: flex;
    display: inline-block;
    margin-right: 20px;
    
  }
  
  #resetBtn:hover {
    color: white;
    background-color:#c2c2c2;
  }
  
  #resetBtn:active {
    transform: scale(0.95);
  }
  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

  body  {
      background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size:cover;
          -webkit-animation: slidein 100s;
          animation: slidein 100s;
  
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  
          -webkit-animation-direction: alternate;
          animation-direction: alternate;              
  }
  
  @-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  }
  
  @keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0px;background-size:2750px;}
  
  }